.travelForm {
  margin: 0 auto;
    max-width: 1024px;
    margin-bottom: 20px;
    height: auto;
}

.two-column-form {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 20px rgba(7, 7, 7, 0.3); /* 그림자 더 크고 선명하게 설정 */
}

.travelarea {
  height: 500px;
}

.diaryform1,
.form-group {
  flex: 1 1 50%;
  padding: 10px;
}

.row {
  display: flex;
  width: 400px;
}

.column {
  flex: 1;
  padding: 0 10px;
  
}

.two-column-form label {
  display: block;
  margin-bottom: 5px;
}

.two-column-form input,
.two-column-form textarea,
.two-column-form select {
  width: 100%;
}

.diaimage {
  width: 60px;
  height: auto; /* 세로 크기를 자동으로 조정하여 가로 세로 비율을 유지 */
  margin-bottom: 15px;
}

.diaryedit {
  background-color: green;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
}

.diarydelete {
  background-color: brown;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
}