
  .travelareaDetail{
    width: 100px; 
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid black; 
    margin-bottom: 20px;
  }

  .separatorwidth1 {
    border-top: 3px solid black; /* 구분선 윗 부분 */
    width: 100%; /* 가로 폭을 100%로 설정 */
    margin: 10px 0; /* 상단 및 하단 여백 설정 */
}